#logo-search-area {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  place-items: center;
  height: 120px;
  width: 100%;
}

#logoArea {
  width: 140px;
  height: 120px;
}
#slogan {
  width: 100%;
}

#search-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10%;
}

.slideshow {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow img {
  width: 100%;
  height: 400px;
}

/* 서치바  */
.input {
  width: 50%;
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffcc;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}

.side-book {
  position: relative;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}
.side-book p {
  width: 70%;
  word-break: keep-all;
}
.side-cover {
  top: 0;
  position: absolute;
  background-color: #f0ad4e;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.side-cover p {
  text-align: center;
}

#labelForCa:hover .side-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.side-book img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.sideCaHolder {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.side-uL {
  margin-left: 10px;
}

.img-circle {
  margin-right: 5px;
  border-radius: 20%;
}
.side-uL li,
.side-uL li a {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-top: 3px;
  font-weight: 600;
}

.side-uL li:hover,
.side-uL li:hover a {
  font-size: 1.1rem;
  color: #ffc107;
}
