<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="inquiry">
	<select id="getFAQList" resultType="faqVo">
		SELECT TITLE, CONTENT FROM FAQ ORDER BY NO
	</select>

	<select id="getInquiryList" resultType="inquiryVo">
	  SELECT 
	    Q.NO,
	    Q.TITLE,
	    Q.CONTENT,
	    Q.ANSWER,
	    MI.NICK,
	    Q.ADMIN_NO,
	    Q.MEMBER_NO,
	    TO_CHAR(Q.ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE,
	    TO_CHAR(Q.ANSWER_DATE, 'YYYY-MM-DD HH24:MI') AS ANSWER_DATE,
	    Q.DELETE_YN,
	    Q.EDIT_DATE,
	    Q.COUNT,
	    IT.TYPE
		  FROM QNA Q		
		  JOIN MEMBER_INFO MI ON Q.MEMBER_NO = MI.NO
		  LEFT JOIN INQUIRY_TYPE IT ON Q.TYPE = IT.NO
		  WHERE Q.DELETE_YN = 'N'
		  <choose>
		      <when test="searchType eq 'title'">
		        AND Q.TITLE LIKE '%${searchValue}%'
		      </when>
		      <when test="searchType eq 'type'">
		        AND IT.TYPE LIKE '%${searchValue}%'
		      </when>
		      <when test="searchType eq 'nick'">
		        AND MI.NICK LIKE '%${searchValue}%'
		      </when>
		      <when test="searchType eq 'all'">
		        AND (Q.TITLE LIKE '%${searchValue}%'
		             OR Q.CONTENT LIKE '%${searchValue}%'
		             OR MI.NICK LIKE '%${searchValue}%'
		             OR IT.TYPE LIKE '%${searchValue}%')
		      </when>
	    </choose>
	  ORDER BY Q.NO DESC
	</select>
	
	<insert id="inquiryInsert">
		INSERT INTO QNA
		(
		NO
		,TITLE
		,CONTENT
		,MEMBER_NO
		,ENROLL_DATE
		,DELETE_YN
		,TYPE
		)
		VALUES
		(
		SEQ_QNA_NO.NEXTVAL,
		#{title}
		,#{content}
		,#{memberNo}
		,SYSDATE
		,DEFAULT
		,#{type}
		)
	</insert>
	
	<select id="selectType" resultType="inquiryTypeVo">
	SELECT NO, TYPE 
	FROM INQUIRY_TYPE
	ORDER BY NO ASC
	</select>
	
	<select id="inquiryContent" resultType="inquiryVo">
		SELECT * FROM QNA WHERE NO = #{no}	
	</select>
	
	<update id="growCnt">
		UPDATE QNA SET COUNT = COUNT+1 WHERE NO = #{no} AND DELETE_YN = 'N'
	</update>
	
	<update id="inquiryDelete">
		UPDATE QNA SET DELETE_YN = 'Y'
		WHERE NO = #{no}  
	</update>
	
	<update id="boardEdit">
		UPDATE QNA SET TITLE = #{title}, CONTENT = #{content} WHERE NO = #{no}
	</update>	
	
	<select id="myQList" resultType="inquiryVo">
		SELECT ROWNUM AS RNO, T.*
				FROM
					(SELECT
		                Q.NO,
						Q.TITLE,
						Q.CONTENT,
						Q.ANSWER,
						Q.ADMIN_NO,
						Q.MEMBER_NO,
						TO_CHAR(Q.ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE,
			       		TO_CHAR(Q.ANSWER_DATE, 'YYYY-MM-DD HH24:MI') AS ANSWER_DATE,
						Q.DELETE_YN,
						Q.EDIT_DATE,
						Q.COUNT,
						IT.TYPE
					FROM QNA Q
					LEFT JOIN INQUIRY_TYPE IT ON Q.TYPE = IT.NO
					WHERE Q.DELETE_YN = 'N' AND Q.MEMBER_NO = #{no}
					ORDER BY Q.ENROLL_DATE DESC) T	
	</select>
	
	  <select id="getCnt" resultType="int">
	  	SELECT COUNT (Q.NO)
	  	FROM QNA Q
	  	<if test="searchType eq 'title'">
	     WHERE TITLE LIKE '%${searchValue}%'
	   	 AND Q.DELETE_YN = 'N'
		</if>
	  	<if test="searchType eq 'type'">
	   	INNER JOIN INQUIRY_TYPE IT ON Q.TYPE = IT.NO
	    WHERE IT.TYPE LIKE '%${searchValue}%'
		AND Q.DELETE_YN = 'N'	
		</if>
	  	<if test="searchType eq 'nick'">
	   	INNER JOIN MEMBER_INFO MI ON Q.MEMBER_NO = MI.NO
	    WHERE MI.NICK LIKE '%${searchValue}%'
		AND Q.DELETE_YN = 'N'
		</if>
	  	<if test="searchType eq 'all'">
	  	INNER JOIN MEMBER_INFO MI ON Q.MEMBER_NO = MI.NO
        INNER JOIN INQUIRY_TYPE IT ON Q.TYPE = IT.NO	            	
	    WHERE (Q.TITLE LIKE '%${searchValue}%'
	    OR Q.CONTENT LIKE '%${searchValue}%'
	    OR MI.NICK LIKE '%${searchValue}%'
	    OR IT.TYPE LIKE '%${searchValue}%')  	
		AND Q.DELETE_YN = 'N'
		</if>
	  </select>
	  
	  <select id="myQCnt" resultType="int">
  	  	SELECT COUNT(NO)
	  	FROM QNA
	  	WHERE MEMBER_NO = #{no} AND DELETE_YN = 'N'
	  </select>
	  
	  <update id="answerInsert">
		  UPDATE QNA
		  SET ANSWER = #{answer},
		      ANSWER_DATE = SYSDATE,
		      ANSWERED_YN = 'Y'
		  WHERE NO = #{no}
	  </update>
</mapper>