<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="product">
	<select id="getCList" resultType="productVo">
		SELECT NO, CA_NAME, CA_INFO, CA_IMG FROM CATEGORY
	</select>
	  
	<select id="getSubList" resultType="productVo">
		SELECT SUB.NO, CA.CA_NAME, SUB.CA_NO, SUB.SUB_CATEGORY, CA.CA_IMG
		FROM SUBDIVISION SUB 
		JOIN CATEGORY CA 
		ON SUB.CA_NO = CA.NO
	</select>
	<select id="getSList" resultType="productVo">
		SELECT SUB.NO, CA.CA_NAME, SUB.CA_NO, SUB.SUB_CATEGORY
		FROM SUBDIVISION SUB 
		JOIN CATEGORY CA 
		ON SUB.CA_NO = CA.NO WHERE SUB.CA_NO = #{caNo}
	</select>
</mapper>